<div class="inner-container">
    <div class="row d-flex style=" justify-content: center; !important">
        <% if(contact.length> 0){ %>
            <% contact.forEach( info=> {%>
                <div class="card" style="width: 95%; margin: 0.5rem;">
                    <div class="card-body">

                        <h5 class="card-title">
                            <%= info.name %>
                        </h5>
                        <h4 class="card-title">
                            <%= info.email %>
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= info.title %>
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= info.message %>
                        </h6>
                        <form action="/admin/contact/delete/<%= info._id%>?_method=DELETE" method="post">
                            <a class="btn" href="mailto:<%= info.email %>?subject=Test%20Address%20Email"
                                class="card-link">Reply</a>
                            <button class="btn" type="submit" class="card-link">Delete</button>
                        </form>
                    </div>
                </div>
                <% }) %>
                    <% } else { %>

                        <div class="animation">
                            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_e6hxa7xiMS.json"
                                background="transparent" speed="1" style="max-width: 600px; height: 400px;" loop
                                autoplay></lottie-player>
                        </div>


                        <% } %>
    </div>
</div>