<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="padding : 0px">
    <path fill="#6882e8" fill-opacity="1"
        d="M0,64L60,85.3C120,107,240,149,360,176C480,203,600,213,720,186.7C840,160,960,96,1080,74.7C1200,53,1320,75,1380,85.3L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
    </path>
</svg>

<div class="footer-container">
    <footer class="row">
        <div class="col-sm-12 col-md-4">
            <div class="profile ">
                <img class="admin-profile" src="<%= utilities.adminProfile %>" alt="admin">
                <h2>Md Kaif Ansari</h2>
                <span>amdkaif843@gmail.com</span>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <h4>Menu</h4>
            <ul class="nav flex-column">
                <li class="nav-item icons mb-2"><a href="/" class="nav-link p-0">Home</a></li>
                <li class="nav-item icons mb-2"><a href="/blogs" class="nav-link p-0 ">Blogs</a></li>
                <li class="nav-item icons mb-2"><a href="/#users" class="nav-link p-0 ">Users</a></li>
                <li class="nav-item icons mb-2"><a href="/#posts" class="nav-link p-0 ">Post</a></li>
            </ul>
        </div>

        <div class="col-sm-12  col-md-4">
            <h4>Socials</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="<%= utilities.instaLink %>" class="nav-link  p-0 "><i
                            class="fa-brands fa-instagram"></i></a></li>
                <li class="nav-item mb-2"><a href="<%= utilities.youtubeLink %>" class="nav-link  p-0 "><i
                            class="fa-brands fa-youtube "></i></a></li>
                <li class="nav-item mb-2"><a href="<%= utilities.gitLink %>" class="nav-link  p-0 "><i
                            class="fa-brands fa-github"></i></i></a></li>
                <li class="nav-item mb-2"><a href="<%= utilities.linkedInLink %>"
                        class="nav-link  p-0 "><i class="fa-brands fa-linkedin "></i></a></li>
            </ul>
        </div>
    </footer>
    <div class="row">
        <p class="text-muted footer-brand">Word Waves © 2023</p>
    </div>
</div>

<!--? OWL CROUSEL JS CDN  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
    integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--? LOCAL JS FILE   -->
<script src="/static/js/frontend lib/crousel.js"></script>
<script src="/static/js/script.js"></script>

</html>